/* =============== PÁGINA DE GELATOS =================*/

#pagina-gelatos {
    text-align: center;
}

#pagina-gelatos > h1 {
    display: block; 
    max-width: max-content;
    font-family: poppins;
    color: #E36886;
    font-size: 1.7em;         
    border: 1px solid #E36886;
    border-radius: 50px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;    
    padding: 5px 50px;
}

#pagina-gelatos > h2 {
    font-size: 1.6em;    
}

.gelatos {
    display: inline-block;    
    text-align: center;    
    margin-top: 20px;    
}

.gelatos > img {    
    width: 120px;
    height: 120px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.349);
}

.gelatos > p {    
    width: 150px;    
    margin: auto;
    font-size: 0.7em;
    font-weight: bold;
    color: var(--marrom); 
    background-color: var(--rosa);
    padding: 5px;
    border-radius: 5px;
    box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.308);
}
