@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*  ========== VARIAVEIS ============= */
:root{
    --rosa: #ffbad1;
    --bordo: #3C0000;
    --amarelo: #F3B700;
    --marrom: #2D140F;
    --fontepadrao: 'Courgette', arial, sans-serif;
}

/* ========== CORES ===============
    Marrom principal = #2D140F
    Rosa claro = #FCE1E1
    Rosa botões = #E15A7A
    Rosa fonte = #E36886
    Amarelo icones = #F7AE85 
*/

/*  ========== GERAL ============= */
* {
    margin: 0;
    padding: 0;
    color: var(--bordo);
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--rosa);
}

/* ============== CABECALHO ============== */
header {
    background-color: var(--marrom);
    border-bottom: 1px solid var(--bordo);
    box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.521);    
}

#cupcakeLogo {
    width: 50px;
}

header > h1 {
    font-family: Courgette;
    color: white;
    font-size: 1.8em;
    text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.493);
    text-align: center;            
    padding-top: 2%;
    min-width: 200px;
    max-width: 900px;
}

header > p {
    font-family: Courgette;
    color: white;
    font-size: 0.9em;
    text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.493);
    text-align: center; 
    padding-bottom: 4%;   
    min-width: 200px;
    max-width: 900px;
}

span {
    font-family: Courgette;
    color: #E15A7A;
    font-size: 1.8em;
    text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.493);
    text-align: center;            
    padding-top: 2%;
    min-width: 200px;
    max-width: 900px;
}

/* ============== MENU ============== */

#icone-menu {
    display: block;
    color: var(--rosa);
    text-align: center;
    padding: 10px;
    
}

#icone-menu:hover {
    background-color: var(--rosa);
    color: var(--marrom);
    cursor: pointer;
}

nav {    
    display: block;
    text-align: right;
    padding: 5px;
    margin-right: 1%;    
}

nav > a {
    color: #F7AE85;
    font-family: poppins;
    font-size: 0.9em;
    font-weight: normal;
    text-decoration: none;
    text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.493);
    margin-right: 5px;
    padding: 5px;    
}

nav > a:hover {
    transition: .5s;    
    color: #E36886;
}

/* ============== RODAPÉ ============== */
footer {
    background-color: var(--marrom);
    border-top: 1px solid var(--bordo);
    box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.521);
    position: fixed;
    bottom: 0%;
    width: 100vw;
    min-width: 320px;
}

footer > p {
    color: #a08d89;
    text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.493);
    text-align: center;
    font-size: 0.6em;
    padding: 10px;
}

/* ============== MAIN ============== */
.fundo {
    display: block;
    margin: auto;
    width: 100vw;
    max-width: 800px;
    height: 150px;
    background-image: url('img/fundoPagina.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;    
}

main > a {
    display: block;    
    color: white;    
    text-decoration: none;
    text-align: right;
    max-width: 30px;
    margin-left: 90vw;    
}
section {
    max-width: 800px;
    margin: auto;    
    background-color: white;
    margin-top: 25px;
    margin-bottom: 50px;
    border: 1px solid black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 1px 0px 1px rgba(0, 0, 0, 0.493);    
}

section > h2 {
    color: var(--bordo);
    font-family: playfair-display;
    font-size: 1.5em;    
    text-align: center;    
    text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.438);
    margin-top: 10px;
    margin-bottom: 10px;    
    padding-top: 10px;       
}

section span {
    font-size: 1em;
    font-weight: normal;
}

section > p {
    text-align: justify;
    padding: 20px;
}

/* ==============  MAIN - IMAGENS DESTAQUE ============== */
#home_imagens {
    text-align: center;
    max-width: 800px;
    min-width: 320px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    padding-bottom: 20px;
}

#home_imagens > picture > img {        
    width: 150px;
    height: 150px;
    padding: 1px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.493);    
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
}

.verdoces {
    display: inline-block;    
    background-color: white;
    color: #3C0000;
    text-decoration: none;
    text-align: center;
    font-size: 1.2em;
    padding: 8px 12px;
    border-radius: 20px;
    margin-bottom: 10px;    
    border-style: solid;
    border-width: 1px;
    border-color: #E15A7A;
}

.verdoces:hover {
    color: white;
    background-color: #E15A7A;
}

/* ============== MAIN - CONTATO ============== */
#home_contato {
    margin-bottom: 50px;
    padding-bottom: 20px;
}

#contatos {   
    display: block;
    margin: auto;
    text-align: center;
}

#igicon {
    max-width: 25px;
}

#wpicon {
    max-width: 20px;
}

.link-contato {    
    text-decoration: none;
    color: #E15A7A;    
    font-size: 1.5em;
    font-weight: bold;
}

.link-contato:hover {
    color: #F7AE85;    
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 5px;    
    transition: .2s;
}

#endereco {    
    margin-top: 20px;
    text-align: center;    
}

#endereco > iframe {
    margin-top: 15px; 
    box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.384);  
}

/* =============== PÁGINA DE DOCES =================*/

#pagina-doces {
    text-align: center;
}

#pagina-doces > h1 {
    display: block; 
    max-width: max-content;
    font-family: Courgette;
    color: #E36886;
    font-size: 1.9em;         
    border: 1px solid #E36886;
    border-radius: 50px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;    
    padding: 5px 50px;
}

#pagina-doces > h2 {
    font-size: 1.6em;    
    margin: auto;
}

.doces {
    display: inline-block;    
    text-align: center;    
    margin-top: 20px;    
}

.doces > img {    
    width: 120px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.349);
}

.doces > p {    
    width: 150px;    
    margin: auto;
    margin-bottom: 30px;
    color: var(--marrom);
    font-size: 0.7em;
    font-weight: bold;        
    background-color: var(--rosa);
    padding: 5px;
    border-radius: 5px;
    box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.308);
}

/* =============== PÁGINA DE GELATOS =================*/

#pagina-gelatos {
    text-align: center;
}

#pagina-gelatos > h1 {
    display: block; 
    max-width: max-content;
    font-family: Courgette;
    color: #E36886;
    font-size: 1.9em;         
    border: 1px solid #E36886;
    border-radius: 50px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;    
    padding: 5px 50px;
}

#pagina-gelatos > h2 {
    font-size: 1.6em;    
}

.gelatos {
    display: inline-block;    
    text-align: center;    
    margin-top: 20px;    
}

.gelatos > img {    
    width: 120px;
    height: 120px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.349);
}

.gelatos > p {    
    width: 150px;    
    margin: auto;
    margin-bottom: 30px;
    font-size: 0.7em;
    font-weight: bold;
    color: var(--marrom); 
    background-color: var(--rosa);
    padding: 5px;
    border-radius: 5px;
    box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.308);
}
