@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

/* 
CORES

*/

:root{
    --rosa: #ffbad1;
    --bordo: #3C0000;
    --amarelo: #F3B700;
    --marrom: #774936;
}

* {
    margin: 0;
    padding: 0;
    color: var(--bordo);
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--rosa);
}

header {
    background-color: var(--marrom);
    border-bottom: 1px solid var(--bordo);
    box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.521);
    height: 100px;    
}

header > h1 {
    font-family: Courgette;
    text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.493);
    color: #ffbad1;
    text-align: center;
    font-size: 1.8em;
    padding-top: 2%;
}

header > p {
    font-family: Courgette;
    text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.493);
    color: #ffbad1;
    text-align: center;
    font-size: 0.7em;
    padding-bottom: 1%;    
}

nav {
    text-align: right;
    padding: 5px;
    margin-right: 1%;
}

nav > a {
    color: #ffbad1;
    font-size: 1.1em;
    font-weight: bold;
    text-decoration: none;
    margin-right: 5px;
    padding: 3px;
    text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.493);
}

nav > a:hover {
    color: var(--amarelo);
    transition: .5s;    
}

footer {
    background-color: var(--marrom);
    border-top: 1px solid var(--bordo);
    box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.521);
    position: fixed;
    bottom: 0%;
    width: 100vw;
    min-width: 320px;
}

footer > p {
    color: white;
    text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.493);
    text-align: center;
    font-size: 0.6em;
    padding: 10px;
}

.fundoimg {
    display: block;
    min-width: 300px;
    max-width: 800px;
    margin: auto;
    margin-top: 1px;        
}

main > a {
    display: block;    
    text-decoration: none;
    color: white;    
    text-align: right;
    max-width: 30px;
    margin-left: 90vw;    
}
section {
    background-color: white;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 2%;
    margin-right: 2%;
    border: 1px solid black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 1px 0px 1px rgba(0, 0, 0, 0.493);    
}

section > h2 {
    text-align: center;
    text-decoration: overline;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.3em;
    color: var(--bordo);
    padding-top: 10px;   
    text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.493);
}

section > p {
    text-align: justify;
    padding: 20px;
}

#home_imagens {
    text-align: center;
    max-width: 800px;
    min-width: 320px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    padding-bottom: 20px;
}

#home_imagens > picture > img {        
    width: 150px;
    height: 150px;
    padding: 1px;
    border: 1.5px solid var(--marrom);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.493);    
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
}

.verdoces {
    display: inline-block;    
    text-decoration: none;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    color: var(--rosa);
    background-color: var(--bordo);
    padding: 8px;
    border-radius: 10px;
    margin-bottom: 10px;
    
}

.verdoces:hover {
    color: var(--amarelo);
    text-decoration: underline;
    transition: .5s;
}

#home_contato {
    margin-bottom: 50px;
    padding-bottom: 20px;
}

#home_contato > ul {    
    margin-left: 5%;
}

#igicon {
    max-width: 25px;
}

#wpicon {
    max-width: 20px;
}

.link-contato {
    text-decoration: none;
    color: var(--marrom);    
    font-size: 1.2em;
    font-weight: bold;
}

.link-contato:hover {
    color: var(--amarelo);    
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 5px;
    text-decoration-line: underline;  
    transition: .5s;
}

#setahome {
    display: block;
    position: fixed;
    bottom: 40px;
    right: 20px;
    z-index: 99;    
}